html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-size: 18px;
	letter-spacing:1px;
}

	@media only screen and (max-width: 600px){
		html{
			font-size: 24px;
			letter-spacing:1px;
		}
	}

body{
		font-family: "Georgia", serif; 
		margin: 0 auto;
	}

	h2{
		font-weight: normal;
		font-size: 10rem;
	}

	a{
		color:white;
		text-decoration:none;
	}

	a:visited{
		color:white;
	}





	.wrapper{
		/*
		display: grid;
  		grid-template-columns:  20% 20% 20% 20% 20%;
  		grid-template-rows: 5% 75% 20%;
		*/
		height:100vh;
	}

	.title{
		color:white;
		font-weight: lighter;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		z-index: 1;
	}

	.title h2{
		
	}

	.left{
		grid-column: 2/5;
		grid-row: 2/3;
		padding: 5%;
		z-index:10;
		color: white;
    	text-align:center;
	}

	.info{
	}

	.contact{
		position: fixed;
	    height: 50px;
	    bottom: 0px;
	    left: 10px;
	    right: 10px;
	    margin-bottom: 0px;
	    z-index:1;
	}

		@media only screen and (max-width: 1024px) {
		  .contact {
		    font-size:1.5rem;
		  }
		}
		
	.ig{
		float:left;
		color:red;
	}

	.ig a{
		color:red;
	}

	.ig a:visited{
		color:red;
	}

	.email{
		float:right;
		color:red;
	}

	.right{
		grid-column:1/6;
		grid-row: 1/3;

		 height: 90vh;
    	overflow-y: scroll;
	}

	.hp_slideshow{
		text-align:center;
		width:100%;
		height: 100vh;
    	overflow: hidden;
	}

	@media only screen and (max-width: 1024px) {
		.main-carousel {
		    position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			z-index: -1;
		  }
		}
		

	img{
		height:100vh;
		max-height:100vh;
	}

